/* --- navbar ---*/

.container {
    background-color: lightseagreen;
    font-family: "Trade Winds";
    text-align: center;
    color: rgb(39, 13, 73);
    box-shadow: 1px 1px 7px 1px rgb(51, 54, 58);
}

@media only screen and (max-width: 1100px) and (min-width: 768px) {
    .container {
        border-radius: 0px 0px 3px 0px;
    }
}

.navbar {
    font-family: "Trade Winds";
    border-radius: 0px 0px 0px 3px;
    box-shadow: 1px 1px 7px 1px rgb(51, 54, 58);
}

.nav-item {
    font-family: "Oxanium";
}

.navSeparation {
    opacity: 0;
}

/* --- index page --- */

.reprobody {
    background-image: url("../images/brick.jpg");
    font-family: "Oxanium";
    /* parallax scrolling; only needed on some mobile devices */
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutMe {
    font-family: "Trade Winds";
    padding: 5px 0 0 10px;
}

.aboutBody {
    padding-bottom: 25px !important;
}

.indexCard {
    transition: all 0.5s ease-in-out;
    opacity: 90%;
    box-shadow: 1px 1px 7px 1px rgb(51, 54, 58);
}

@media only screen and (max-width: 900px) {
    .indexCard {
        margin-bottom: 80px;
    }
}

.portrait {
    border-radius: 3px;
    box-shadow: 1px 1px 3px 1px rgb(116, 143, 177);
}

.clearfix::after {
    content: "";
    clear: both;
    display: flex;
    position: sticky;
    flex-wrap: wrap;
}

.indexCard:hover {
    color: rgb(46, 111, 172);
    box-shadow: 1px 1px 7px 1px rgb(46, 111, 172);
}

.row {
    padding: 0px 50px 15px 20px;
}

.column {
    float: left;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
    padding-left: 3px;
}

#pic {
    padding-left: 15px;
    float: left;
    width: 20%;
}

#text {
    float: right;
}

/* --- contact page --- */

.contactbody {
    background-image: url("../images/leaves.jpg");
    font-family: "Oxanium";
    /* parallax scrolling; not necessary on this page, but just in case */
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.links-container {
    margin-left: 70%;
}

.me {
    font-family: "Trade Winds";
    font-size: 60px;
}

form {
    margin: 20px;
}

form .field {
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

form .field input,
textarea {
    padding: 5px;
}

#submit {
    margin-left: 20px;
    padding: 10px;
    background-color: teal;
    border-radius: 8px;
    text-decoration: none;
    border: none;
}

#box {
    background-color: whitesmoke;
    padding-bottom: 20px;
    border-radius: 3px;
    margin: auto;
    transition: all 0.5s ease-in-out;
    opacity: 90%;
    box-shadow: 1px 1px 7px 2px rgb(51, 54, 58);
}

#box:hover {
    color: rgb(74, 84, 226);
    box-shadow: 1px 1px 7px 4px rgb(252, 147, 61);
}

#submit {
    margin: auto;
    transition: all 0.8s ease-in-out;
    opacity: 90%;
}

#submit:hover {
    color: rgb(252, 147, 61);
    box-shadow: 1px 1px 7px 2px teal;
}

/* <--- portfolio page ---> */

.portfoliobody {
    background-image: url("../images/tree.jpg");
    background-size: cover;
    font-family: "Oxanium";
    /* parallax scrolling */
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box {
    border-radius: 3px;
    background-color: rgb(243, 208, 227);
    padding: 5px;
    font-family: "Trade Winds";
}

.portCard {
    border-radius: 5px;
    margin: 5px;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 205px;
    background-size: cover;
    text-align: center;
    transition: all 0.5s ease-in-out;
    /* margin: auto; */
    opacity: 95%;
    box-shadow: 1px 1px 7px 1px rgb(51, 54, 58);
}

.portCard:hover {
    box-shadow: 1px 1px 7px 3px rgb(61, 160, 252);
}

.row-bottom {
    padding-bottom: 90px !important;
}

#port {
    padding: 0px;
}

#castle {
    background-image: url(../images/mainpage.jpg);
}

#castle:hover {
    background-image: url(../images/castlevania.gif);
}

#turtle {
    background-image: url(../images/tmnt.jpg);
}

#turtle:hover {
    background-image: url(../images/tmnt.gif);
}

#xMen {
    background-image: url(../images/xMen1.jpg);
}

#xMen:hover {
    background-image: url(../images/xMen2.jpg);
}

#giftastic {
    background-image: url(../images/gifStill.jpg);
}

#giftastic:hover {
    background-image: url(../images/gif.gif);
}

#train {
    background-image: url(../images/uta.jpg);
}

#train:hover {
    background-image: url(../images/train.png);
}

#pat {
    background-image: url(../images/pat-l.PNG);
}

#pat:hover {
    background-image: url(../images/pat-d.PNG);
}

#bamazon {
    background-image: url(../images/amazon.jpg);
}

#bamazon:hover {
    background-image: url(../images/bamazon.jpg);
}

#burger {
    background-image: url(../images/burger.jpg);
}

#burger:hover {
    background-image: url(../images/burger.gif);
}

#education {
    background-image: url(../images/brainl.PNG);
}

#education:hover {
    background-image: url(../images/brainr.PNG);
}

#click {
    background-image: url(../images/batman.jpg);
}

#click:hover {
    background-image: url(../images/batman.gif);
}

#books  {
    background-image: url(../images/ghostbustersBooks.jpg);
}

#books:hover {
    background-image: url(../images/necronomicon.gif);
}

.row {
    padding-top: 25px;
    padding-bottom: 0;
}

@media only screen and (max-width: 900px) {
    .row {
        padding: 0;
    }

    .preFooter {
        margin-bottom: 80px;
    }
}

/* Parallax */

.parallax {
    /* The image used */
    background-image: url('img_parallax.jpg');
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }